# WINDOW RULES
# wayland uses app_id, xwayland uses class or instance.

for_window [app_id="pavucontrol"] floating enable
for_window [app_id="blueman-manager"] floating enable
for_window [app_id="nm-connection-editor"] floating enable

for_window [app_id="clipyazi"] floating enable, resize set 60 ppt 60 ppt, move position center

for_window [app_id="miniterm"] resize set 800 40, move position center

for_window [title="Picture-in-Picture" app_id="zen"] floating enable, sticky enable, resize set 30 ppt 30 ppt, move position 70 ppt 70 ppt

for_window [app_id="foot"] move position center
