# ROOT IGNORE
/*

# ROOT EXCLUSIONS
!.gitignore
!.gitconfig
!.zshrc
!.zprofile
!.zshenv
!LICENSE
!/bin/
!/.dotfiles-meta/

# LOCAL EXCLUSIONS
!/.local/
/.local/*
!/.local/bin/

# ZSH EXCLUSIONS
!/.zsh/
!/.zsh/README.md

# CONFIG EXCLUSIONS
!/.config/
/.config/*
!/.config/alacritty/
!/.config/bash/
!/.config/btop/
!/.config/cava/
!/.config/fastfetch/
!/.config/foot/
!/.config/fuzzel/
!/.config/git/
.config/git/local.gitconfig
!/.config/gtk-3.0/
!/.config/gtk-4.0/
!/.config/hypr/
!/.config/kitty/
!/.config/Kvantum/
!/.config/lazygit/
!/.config/mako/
!/.config/mpd/
!/.config/mpv/
!/.config/ncmpcpp/
!/.config/niri/
!/.config/nvim/
!/.config/nwg-displays/
!/.config/nwg-look/
!/.config/qt5ct/
!/.config/qt6ct/
!/.config/rofi/
!/.config/starship.toml
!/.config/sway/
!/.config/swaylock/
!/.config/tmux/
!/.config/waybar/
!/.config/zathura/
!/.config/zsh/
!/.config/README.md

# NESTED IGNORES
.bash_history
.DS_Store
__pycache__/
*.log
*.bak
.config/bash/history
.config/tmux/plugins/
.config/nvim.bak/
.config/zsh/history
.config/zsh/.zhistory
.config/zsh/.zcompdump*
.zsh/.history
.zsh/.zcompdump

# RESOLVED CONTRADICTIONS
.config/mimeapps.list
.config/systemd/
