# IGNORE EVERYTHING BY DEFAULT
/*

# UN-IGNORE TRACKED CONFIGURATION
!.gitignore
!.gitconfig
!.config/git/base.gitconfig
!.config/
!.config/bash/
!.config/bash/*
!.zshrc
!.zprofile
!.config/zsh/
!.config/zsh/*
!.config/kitty/
!.config/fastfetch/
!.config/zsh/fastfetch.zsh
!.config/hypr/
!.config/hypr/config/
!.config/tmux/
!.config/starship.toml
!.config/mimeapps.list
!.config/hypr/
!.config/waybar/
!.config/waybar/*
!.config/rofi/
!.config/mako/
!.config/alacritty/
!.config/alacritty/*
!.config/niri/
!.config/niri/*
!.config/sway/
!.config/sway/*
!.config/swaylock
!.config/swaylock/*
!.config/fuzzel/
!.config/fuzzel/*
!.config/nwg-look/
!.config/alacritty/
!.config/nwg-displays/
!.config/gtk-3.0/
!.config/gtk-4.0/
!.config/qt5ct/
!.config/qt6ct/
!.config/Kvantum/
!.config/nvim/
!.config/btop/
!.config/lazygit/
!.config/fastfetch/
!.config/cava/
!.config/mpd/
!.config/foot/
!.config/foot/*
!.config/mpv/
!.config/ncmpcpp/
!.config/zathura/
!.config/systemd/
!.dotfiles-meta/
!.dotfiles-meta/*
!LICENSE

# RE-IGNORE FILES INSIDE TRACKED DIRECTORIES
.config/bash/history
~/.config/bash/history
~/.config/zsh/history
.bash_history
.DS_Store
__pycache__/
*.log
.config/BraveSoftware/
.config/obsidian/
.config/libreoffice/
.config/@filen/
.config/filen-cli/
*.bak
.config/nvim.bak/
.config/tmux/plugins/
.config/zsh/.zhistory
.config/zsh/.zcompdump*
.config/.zcompdump*
.config/tut/
.config/zsh/history
.config/zen
.config/git/local.gitconfig
.config/dconf/
.config/mimeapps.list
.config/pavucontrol.ini
.config/pulse/
.config/tea/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/virt-viewer/
.config/systemd/
