@import "css/colors.css";

* {
  border: none;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 13px;
  font-weight: 600;
  min-height: 0;
}

window#waybar {
  background-color: @bg-transparent;
  color: @text-main;
}

/* --- WORKSPACES --- */
#workspaces button {
  padding: 0 8px;
  background-color: @bg-transparent;
  color: @text-muted;
  border-radius: 0;
}

#workspaces button.active {
  color: @text-main;
  background-color: @bg-transparent;
}

#workspaces button:hover {
  color: @text-hover;
}

/* --- MODULES --- */
#network,
#bluetooth,
#battery,
#tray,
#mpd,
#window {
  padding: 0 10px;
  color: @text-main;
  background-color: @bg-transparent;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

/* --- ALERTS --- */
#battery.warning {
  color: @warning;
}
#battery.critical {
  color: @critical;
}
#network.disconnected {
  color: @critical;
}

#window {
  color: @text-muted;
  font-style: italic;
}
