// STARTUP DAEMONS
spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
spawn-at-startup "swaybg" "-i" "/home/dil/Pictures/turtle.jpg" "-m" "fill"
spawn-at-startup "waybar"
spawn-at-startup "mako"
spawn-at-startup "nm-applet"
spawn-at-startup "blueman-applet"
spawn-at-startup "bash" "-lc" "gnome-keyring-daemon --start --components=secrets,ssh"

// CLIPBOARD TRACKING
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"

// IDLE MANAGEMENT
spawn-at-startup "bash" "-c" "swayidle -w timeout 150 'brightnessctl -s set 10' resume 'brightnessctl -r' timeout 200 'swaylock -f -c 000000' timeout 250 'niri msg action power-off-monitors' resume 'niri msg action power-on-monitors' timeout 1800 'systemctl suspend' before-sleep 'swaylock -f -c 000000'"
