// HARDWARE OUTPUT
output "eDP-1" {
    scale 1.0
}

// INPUT CONFIGURATION
input {
    keyboard {
        xkb {
            //layout "de"
	    layout "gb"
        }
    }
    touchpad {
        tap
        natural-scroll
    }

    focus-follows-mouse max-scroll-amount="0%"
}

// APPEARANCE AND SPATIAL LAYOUT
layout {
    gaps 2
    center-focused-column "never"
    default-column-width { proportion 0.5; }

    border {
        width 0.5
        active-color "rgb(61, 76, 7)"
        inactive-color "rgb(26, 30, 12)"
    }

    shadow {
	off 
    }

    focus-ring {
        off
    }
}

// MODULE INCLUSIONS
// merge external logical blocks
include "autostart.kdl"
include "rules.kdl"
include "binds.kdl"
