// WINDOW RULES
window-rule {
	match app-id="pavucontrol"
	match app-id="blueman-manager"
	match app-id="nm-connection-editor"
	match app-id="clipyazi"
	match app-id="org.telegram.desktop"
	match app-id="foot-scratch"
	match app-id="zen" title="Picture-in-Picture"
	open-floating true
}
